.wrapper {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}
.far.fa-heart {
    &:hover {
        background: linear-gradient($pink, $violet);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        &::before {
            font-weight: 900;
        }
    }
}

