@mixin header-logo {
margin: auto;
width: 50%;
padding: 6% 0 4%;
display: flex;
}

@mixin bouton-gen {
    border-radius: 30px;
    line-height: 3;
    padding: 0 6%;
    margin: 4% 0 8%;
    font-size: 1em;
    border: none;
    background-color: $violet;
    color: white;
}