@mixin header-logo {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    justify-content: center;
    height: 30px;
    width: auto;
}

@mixin bouton-gen {
    border-radius: 30px;
    line-height: 3;
    padding: 0 45px;
    margin: 4% 0 8%;
    font-size: 1em;
    border: none;
    color: white;
}

@mixin degrade {
    background: linear-gradient(#FF79DA,#9356DC);
}
