html {
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif; 
}
@import "mixin";
header img {
    @include header-logo;
}
.localisation {
    background-color: #eeeded;
    padding: 4% 0 4% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px 0 #d6d6d6 inset;
    input {
        border: 0;
        background-color: transparent;
        font-size: 1.1em;
        padding-left: 5%;     
    }
}
@import "variable";
.presentation {
    background-color: $light-gray;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    h1 {
        font-size: 1.6em;
        width: 70%;
        margin: 6% auto 3%;
    }
        p {
            font-size: 1.1em;
    }
}
button {
    @include bouton-gen;   
            }
.fonctionnements {
    h2 {
    margin-left: 6%;
    margin-top: 12%;
    }
        span {
            padding: 0 1.3%;
            color: white;
            border: 1px solid transparent;
            background-color: $violet;
            border-radius: 50%;
            margin: 0 7%;
        }
            p {
                margin-left: 10%;
                font-weight: 500;
            }
                i {
                    color: gray;
                    font-size: 1.4em;
                }
}
.fonction-list {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    margin-top: 8%;
}
.fonction-card {
    display: flex;
    align-items: center;
    background-color: $light-gray;
    border-radius: 1.5em;
    box-shadow: 0 0 10px #d6d6d6;
    margin-right: 6%;
    width: 100%;
    padding: 0.6em;
}
.restaurants {
    margin-top: 12%;
    padding: 6%;
    background-color: $light-gray;
    img {
        object-fit: cover;
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0 0;
    }
        span {
            position: absolute;
            border-radius: 3px;
            background-color: #99e2d0;
            text-align: center;
            color: #008766;
            margin-left: 64%;
            margin-top: 3%;
            font-size: 0.9em;
            padding: 5px 12px;
            width: 15%;
            font-weight: 500;
        }
            a {
                color: black;
                text-decoration: none;
            }
                i {
                    font-size: 1.5em;
                }
                    .card {
                        border-radius: 20px;
                        background-color: white;
                        margin-bottom: 20px;
                    }
}
.text {
    margin-top: -10px;
    h3 {
        font-size: 1.1em;
        padding-left: 15px;
        font-weight: 500;
    }
        p {
            padding-left: 15px;
            padding-bottom: 20px;
            line-height: 0.1em;
        }
            i {
                position: absolute;
                margin-left: 75%;
                margin-top: -3em;
            }
}
footer {
    background-color: #383434;
    color: white;
    padding: 10px;
    p {
        font-family: "Shrikhand", sans-serif;
        font-size: 1.2em;
        padding-left: 15px;
    }
        ul {
            list-style-type: none;
            padding-left: 15px;
        }
            li {
                padding-bottom: 5px;
            }
                .fa-utensils { 
                    padding-right: 17px;
                }
                .fa-hands-helping {
                    padding-right: 10px;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
}