@import "variable";
@import "mixin";
@import "global";
@keyframes fond {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        display: none;
    }
}
.spinner {
    border: 15px solid transparent;
    border-color: $pink $violet;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: spin 3s linear 1;
    animation-fill-mode: forwards;
}
.loading-page {
    opacity: 1;
    animation: fond 3s;
}
html {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: "roboto", sans-serif;
}
header p {
    @include header-logo;
}
.localisation {
    background-color: #eeeded;
    padding: 15px 15px 15px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px 0 #d6d6d6 inset;
    text-align: center;
    input {
        border: 0;
        background-color: transparent;
        font-size: 1.1em;
        padding-left: 15px;
    }
}
.presentation {
    background-color: $light-gray;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    h1 {
        font-size: 1.6em;
        width: 70%;
        margin: 6% auto 3%;
    }
    p {
        font-size: 1.1em;
    }
}
button {
    @include bouton-gen;
    @include degrade;
}
button:hover {
    opacity: 0.8;
    box-shadow: 1px 5px 5px 4px #c6c6c6;
}
.fonctionnements {
    display: flex;
    flex-direction: column;
    h2 {
        margin-top: 40px;
    }
    span {
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: white;
        border: 1px solid transparent;
        background-color: $violet;
        border-radius: 25px;
        text-align: center;;
        position: absolute;
    }
    p {
        margin-left: 30px;
        font-weight: 500;
    }
    i {
        color: gray;
        font-size: 1.4em;
    }
}
.fonction-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.fonction-card {
    display: flex;
    align-items: center;
    background-color: $light-gray;
    border-radius: 1.5em;
    box-shadow: 0 0 10px #d6d6d6;
    width: 100%;
    margin-left: 12px;
    padding: 5px 20px 5px 40px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 5px 5px #c6c6c6;
        background-color: #f7f7f7;
    }
}
.restaurants {
    margin-top: 40px;
    padding: 18px 0;
    background-color: $light-gray;
    img {
        object-fit: cover;
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0 0;
    }
    span {
        position: absolute;
        border-radius: 3px;
        background-color: $green;
        text-align: center;
        color: #008766;
        right: 10px;
        margin-top: 10px;
        font-size: 0.9em;
        padding: 1% 3%;
        font-weight: 500;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .card {
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        position: relative;
        box-shadow: 0 0 10px #d6d6d6;
    }
}
.text {
    margin-top: -4px;
    padding: 15px;
    h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
    }
}
.text .far {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.8em;
}
footer {
    background-color: #383434;
    color: white;
    padding: 10px;
    p {
        font-family: "Shrikhand", sans-serif;
        font-size: 1.2em;
        padding-left: 15px;
    }
    ul {
        list-style-type: none;
        padding-left: 15px;
    }
    li {
        padding-bottom: 5px;
    }
    .fa-utensils {
        padding-right: 17px;
    }
    .fa-hands-helping {
        padding-right: 10px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
@media screen and (min-width: 768px) {
    .fonction-list {
    width: 30%;
    }
    .fonction-row {
        display: flex;
        justify-content: space-between;
    }
    .resto-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: 48%;
    }
    .restaurants span {
        right: inherit;
        margin-left: -115px;
        padding: 10px 23px;
    }
    .restaurants .card {
        margin-bottom: 40px;
    }
    .text {
        margin-top: inherit;
    }
}
